## logika dasar dalam python

*algoritma*
_algoritma_
__algoritma__
**algoritma**

In [122]:
# eksekusi sintaks python

print("Hai dunia!")

Hai dunia!

In [123]:
# indensasi

if 5 > 2:
    print("lima lebih dari dua")

lima lebih dari dua

In [124]:
if 5 > 2:
    print("lima lebih dari dua")
if 5 > 2:
        print("lima lebih dari dua")

lima lebih dari dua
lima lebih dari dua

In [125]:
if 5 > 2:
    print("lima lebih dari dua")
    print("lima lebih dari dua")

lima lebih dari dua
lima lebih dari dua

In [126]:
if 5 > 2:
    print("lima lebih dari dua")
        print("lima lebih dari dua")

IndentationError: unexpected indent (1587542765.py, line 3)

In [10]:
# variabel

x = 5 
y = "hai, dunia!"

x
y

'hai, dunia!'

In [11]:
x = 5 
y = "hai, dunia!"

y
x

5

In [12]:
print(x)
print(y)

5
hai, dunia!

In [13]:
# comments
print("hello world")

hello world

In [14]:
print("hello world") # ini adalah komen

hello world

In [15]:
# ini adalah 
# mata kuliah
# algoritma pemrograman
print(y)

hai, dunia!

In [16]:
# ini adalah # mata kuliah # algoritma pemrograman
print(y)

hai, dunia!

In [17]:
"""
pembelajaran ini adalah algoritma pemrograman dan di hari senin kita belajar komen
"""
print(y)

hai, dunia!

In [18]:
# variabel 
x = 4           # x adalah integrer atau int
y = "sally"     # y untuk string atau str
z = 3.2         # z merupakan float
print(x,y,z)

4 sally 3.2

In [33]:
#casting 

a = str(3)
b = int(3)
c = float(3)
print(a, b, c)

3 3 3.0

In [23]:
print(a+a)

33

In [45]:
print(b+b)

6

In [46]:
print(c+c)

6.0

In [47]:
# melihat tipe data
print(type(a))
print(type(b))
print(type(c))

<class 'str'>
<class 'int'>
<class 'float'>

In [29]:
adam = 3
ADAM = 4

print(adam + ADAM)

7

In [31]:
# penggunaan string

x = "adam"
x = 'adam'

In [34]:
# many values ke multiple variables
x, y, z, = "Apple", "banana", "pineapple"
print(x)
print(y)
print(z)

Apple
banana
pineapple

In [35]:
# ove values ke multiple variables 
x = y = z = "durian"
print(x)
print(y)
print(z)

durian
durian
durian

In [36]:
#unpack a collection
#unpack a list

fruits = ["apple", "banana", "cherry"]
x,y,z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [39]:
# output variable
x = 'apple'
print(x+x)

appleapple

In [48]:
x = 'apple'
y = 5
z = 3.0
print(y+z)

8.0

In [50]:
x = 'saya'
y = 'suka'
z = 'melon'
print(x,y,z)
print(x+y+z)

saya suka melon
sayasukamelon

In [53]:
#global variabel 
x = 'bagus'
def myfunc() :
    print('bahasa indonesia saya'+ x)

myfunc()

bahasa indonesia sayabagus

In [56]:
#global variabel 
x = 'bagus'
def myfunc() :
    x = 'keren'
    print('bahasa indonesia saya'+ x)

myfunc()
print('bahasa indonesia saya'+x)

bahasa indonesia sayakeren
bahasa indonesia sayabagus

In [59]:
#global variabel 
y = 'nikah'
def myfunc() :
    print('teman saya akan', y)

myfunc()

teman saya akan nikah

In [62]:
#global keyword
def myfunc():
    global x
    x= 'keren'
myfunc()

print('kamu', x)

kamu keren

In [63]:
x = 'keren'
def myfunc():
    global x
    x= 'asik sekalix'
myfunc()

print('kamu', x)

kamu asik sekali

In [69]:
a=5
print(a, type(a))

b = 'hello'
print(b, type(b))

c = 2.3
print(c, type(c))

d = 1j
print(d, type(d))

5 <class 'int'>
hello <class 'str'>
2.3 <class 'float'>
1j <class 'complex'>

In [70]:
e = ['apel', 'pisang', 'ceri']
print(e, type(e))

f = ('apel', 'pisang', 'ceri')
print(f, type(f))

g = range(6)
print(g, type(g))

h = {'name': 'john', 'age': 21}
print(h, type(h))

['apel', 'pisang', 'ceri'] <class 'list'>
('apel', 'pisang', 'ceri') <class 'tuple'>
range(0, 6) <class 'range'>
{'name': 'john', 'age': 21} <class 'dict'>

In [74]:
i = frozenset({'apple', 'banana', 'cherry'})
print(i, type(i))

j = True
print(j, type(j))

k = b"hai"
print(k, type(k))

frozenset({'banana', 'apple', 'cherry'}) <class 'frozenset'>
True <class 'bool'>
b'hai' <class 'bytes'>

In [78]:
l = bytearray(5)
print(l, type(l))

m = memoryview(bytes(5))
print(m, type(m))

n = None
print(n, type(n))

bytearray(b'\x00\x00\x00\x00\x00') <class 'bytearray'>
<memory at 0x000002EB09C7CD00> <class 'memoryview'>
None <class 'NoneType'>

In [81]:
# konversi tipe 
x = -1  #int
y = 2.8 #float
z = 1j  #complex

#convert int ke float
a = float(x)

#convert float ke int
b = int(y)

#convert int ke complex
c = complex(z)

print(a,b,c)
print(type(a), type(b), type(c))

-1.0 2 1j
<class 'float'> <class 'int'> <class 'complex'>

In [97]:
# random number

import random

print(random.randrange(1,20))

19

In [139]:
# string
print("oke bang")
print("oke "bg" ")
print('oke "bang"')
print("oke 'bg' ")
print("oke "bg" ")

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1041470627.py, line 3)

In [99]:
print(" ")

In [102]:
r = """
saya suka makan dengan sushi dengan saus teriyaki
"""
s = '''
saya suka makan dengan sushi dengan saus keju
'''

print(r)
print(s)

saya suka makan dengan sushi dengan saus teriyaki


saya suka makan dengan sushi dengan saus keju

In [104]:
# slicing
a = "123456789"
print(a[1:5])

b = "1,2,3,4,5,6,7,8,9"
print(b[1:7])

c = "hello world"
print(c[3:6])

2345
,2,3,4
lo

In [107]:
# slice from the start
a = "123456789"
print(a[:5])

12345

In [110]:
# slice from to end
a = "123456789"
print(a[3:])

456789

In [112]:
# slice negative indexing
a = "123456789"
print(a[-5:-2])

567

In [121]:
#modify string
#upper

a = "hellow, world"
print(a.upper())

#lower
a = "hellow world"
print(a.lower())

#remove whitespaces 
a = "    hello, world    "
print(a.strip())

HELLOW, WORLD
hellow world
hello world

In [118]:
# replace 
print(a.replace("h", "L"))

    Lello world

In [141]:
# split string 
a = "hai, guys"
print(a.split(","))
print(a.split("g"))

['hai', ' guys']
['hai, ', 'uys']

In [129]:
# format string atau f-string
age = 21
txt = f"my name is wonwoo, i am {age}"
print(txt)

my name is wonwoo, i am 21

In [131]:
price = 12
txt = f"the price of nasi padang is {price} dollars"
print(txt)

the price of nasi padang is 12 dollars

In [132]:
price = 12
txt = f"the price of nasi padang is {price:.2f} dollars"
print(txt)

the price of nasi padang is 12.00 dollars

In [133]:
price = 12
txt = f"the price of nasi padang is {price:.3f} dollars"
print(txt)

the price of nasi padang is 12.000 dollars

In [136]:

txt = f"the price of nasi padang is {13*1} dollars"
print(txt)

the price of nasi padang is 13 dollars

In [138]:
# escape character menggunakan "\"
txt = "aku di panggil \"akbar\" oleh teman-teman"
print(txt)

aku di panggil "akbar" oleh teman-teman