In [2]:
import pandas as pd

# import file (Kesehatan)

#### .csv

In [3]:
df = pd.read_csv(r'D:\QUIZ ALGORITMA\quiz 13\Student Mental health.csv')
print(df)

               Timestamp Choose your gender   Age What is your course?  \
0         8/7/2020 12:02             Female  18.0          Engineering
1         8/7/2020 12:04               Male  21.0    Islamic education
2         8/7/2020 12:05               Male  19.0                  BIT
3         8/7/2020 12:06             Female  22.0                 Laws
4         8/7/2020 12:13               Male  23.0         Mathemathics
..                   ...                ...   ...                  ...
96   13/07/2020 19:56:49             Female  21.0                  BCS
97   13/07/2020 21:21:42               Male  18.0          Engineering
98   13/07/2020 21:22:56             Female  19.0             Nursing
99   13/07/2020 21:23:57             Female  23.0     Pendidikan Islam
100  18/07/2020 20:16:21               Male  20.0   Biomedical science

    Your current year of Study What is your CGPA? Marital status  \
0                       year 1        3.00 - 3.49             No
1                       year 2        3.00 - 3.49             No
2                       Year 1        3.00 - 3.49             No
3                       year 3        3.00 - 3.49            Yes
4                       year 4        3.00 - 3.49             No
..                         ...                ...            ...
96                      year 1        3.50 - 4.00             No
97                      Year 2        3.00 - 3.49             No
98                      Year 3        3.50 - 4.00            Yes
99                      year 4        3.50 - 4.00             No
100                     Year 2        3.00 - 3.49             No

    Do you have Depression? Do you have Anxiety? Do you have Panic attack?  \
0                       Yes                   No                       Yes
1                        No                  Yes                        No
2                       Yes                  Yes                       Yes
3                       Yes                   No                        No
4                        No                   No                        No
..                      ...                  ...                       ...
96                       No                  Yes                        No
97                      Yes                  Yes                        No
98                      Yes                   No                       Yes
99                       No                   No                        No
100                      No                   No                        No

    Did you seek any specialist for a treatment?
0                                             No
1                                             No
2                                             No
3                                             No
4                                             No
..                                           ...
96                                            No
97                                            No
98                                            No
99                                            No
100                                           No

[101 rows x 11 columns]

#### .xlsx

In [4]:
df = pd.read_excel(r'D:\QUIZ ALGORITMA\quiz 13\Mental health Depression disorder Data.xlsx')
print(df)

           Entity Code  Year  Schizophrenia (%)  Bipolar disorder (%)  \
0     Afghanistan  AFG  1990           0.160560              0.697779
1     Afghanistan  AFG  1991           0.160312              0.697961
2     Afghanistan  AFG  1992           0.160135              0.698107
3     Afghanistan  AFG  1993           0.160037              0.698257
4     Afghanistan  AFG  1994           0.160022              0.698469
...           ...  ...   ...                ...                   ...
6463     Zimbabwe  ZWE  2013           0.155670              0.607993
6464     Zimbabwe  ZWE  2014           0.155993              0.608610
6465     Zimbabwe  ZWE  2015           0.156465              0.609363
6466     Zimbabwe  ZWE  2016           0.157111              0.610234
6467     Zimbabwe  ZWE  2017           0.157963              0.611242

      Eating disorders (%)  Anxiety disorders (%)  Drug use disorders (%)  \
0                 0.101855               4.828830                1.677082
1                 0.099313               4.829740                1.684746
2                 0.096692               4.831108                1.694334
3                 0.094336               4.830864                1.705320
4                 0.092439               4.829423                1.716069
...                    ...                    ...                     ...
6463              0.117248               3.090168                0.766280
6464              0.118073               3.093964                0.768914
6465              0.119470               3.098687                0.771802
6466              0.121456               3.104294                0.772275
6467              0.124443               3.110926                0.772648

      Depression (%)  Alcohol use disorders (%)
0           4.071831                   0.672404
1           4.079531                   0.671768
2           4.088358                   0.670644
3           4.096190                   0.669738
4           4.099582                   0.669260
...              ...                        ...
6463        3.128192                   1.515641
6464        3.140290                   1.515470
6465        3.155710                   1.514751
6466        3.174134                   1.513269
6467        3.192789                   1.510943

[6468 rows x 10 columns]

# import file (Keuangan)

#### .csv

In [6]:
df = pd.read_csv(r'D:\QUIZ ALGORITMA\quiz 13\Finance_data.csv')
print(df)

    gender  age Investment_Avenues  Mutual_Funds  Equity_Market  Debentures  \
0   Female   34                Yes             1              2           5
1   Female   23                Yes             4              3           2
2     Male   30                Yes             3              6           4
3     Male   22                Yes             2              1           3
4   Female   24                 No             2              1           3
5   Female   24                 No             7              5           4
6   Female   27                Yes             3              6           4
7     Male   21                Yes             2              3           7
8     Male   35                Yes             2              4           7
9     Male   31                Yes             1              3           7
10  Female   35                Yes             2              4           7
11    Male   29                Yes             2              5           7
12  Female   21                 No             1              2           3
13  Female   28                Yes             2              3           7
14  Female   25                Yes             2              3           7
15    Male   27                Yes             2              3           7
16  Female   28                Yes             3              2           7
17    Male   27                Yes             3              2           7
18    Male   29                Yes             3              2           7
19    Male   26                Yes             3              4           6
20    Male   29                Yes             2              4           7
21  Female   24                Yes             2              4           5
22    Male   27                Yes             3              4           6
23    Male   25                Yes             2              4           6
24  Female   26                Yes             2              3           7
25  Female   32                Yes             3              4           7
26    Male   26                Yes             3              4           6
27    Male   31                Yes             2              3           7
28    Male   29                Yes             2              3           6
29  Female   34                Yes             5              4           3
30    Male   27                Yes             4              5           1
31  Female   31                Yes             2              4           7
32    Male   27                Yes             2              4           7
33    Male   26                Yes             2              3           6
34    Male   27                Yes             2              3           6
35    Male   30                Yes             1              4           6
36    Male   30                Yes             2              4           7
37    Male   25                Yes             5              4           7
38    Male   31                Yes             2              4           7
39    Male   29                Yes             4              3           5

    Government_Bonds  Fixed_Deposits  PPF  Gold  ...           Duration  \
0                  3               7    6     4  ...          1-3 years
1                  1               5    6     7  ...  More than 5 years
2                  2               5    1     7  ...          3-5 years
3                  7               6    4     5  ...   Less than 1 year
4                  6               4    5     7  ...   Less than 1 year
5                  6               3    1     2  ...          1-3 years
6                  2               5    1     7  ...          3-5 years
7                  4               6    1     5  ...          3-5 years
8                  5               3    1     6  ...          1-3 years
9                  4               5    2     6  ...          3-5 years
10                 5               3    1     6  ...          3-5 years
11                 6               3    1     4  ...          1-3 years
12                 4               5    6     7  ...          1-3 years
13                 4               5    1     6  ...          1-3 years
14                 5               4    1     6  ...          1-3 years
15                 5               4    1     6  ...          1-3 years
16                 5               4    1     6  ...          1-3 years
17                 4               5    1     6  ...          1-3 years
18                 4               5    1     6  ...          1-3 years
19                 5               1    2     7  ...          3-5 years
20                 5               3    1     6  ...          3-5 years
21                 6               3    1     7  ...          3-5 years
22                 5               2    1     7  ...          3-5 years
23                 5               3    1     7  ...          3-5 years
24                 5               4    1     6  ...          3-5 years
25                 5               1    2     6  ...          3-5 years
26                 5               1    2     7  ...          3-5 years
27                 6               4    1     5  ...          1-3 years
28                 5               1    4     7  ...          1-3 years
29                 2               7    1     6  ...          3-5 years
30                 2               7    3     6  ...          1-3 years
31                 6               3    1     5  ...          3-5 years
32                 5               1    3     6  ...          3-5 years
33                 4               1    5     7  ...          1-3 years
34                 5               4    1     7  ...          1-3 years
35                 5               3    2     7  ...          3-5 years
36                 5               1    3     6  ...          1-3 years
37                 6               1    2     3  ...          3-5 years
38                 5               3    1     6  ...          1-3 years
39                 7               2    1     6  ...          3-5 years

   Invest_Monitor   Expect                 Avenue  \
0         Monthly  20%-30%            Mutual Fund
1          Weekly  20%-30%            Mutual Fund
2           Daily  20%-30%                 Equity
3           Daily  10%-20%                 Equity
4           Daily  20%-30%                 Equity
5           Daily  30%-40%            Mutual Fund
6         Monthly  20%-30%                 Equity
7         Monthly  20%-30%            Mutual Fund
8          Weekly  20%-30%                 Equity
9         Monthly  30%-40%         Fixed Deposits
10        Monthly  20%-30%            Mutual Fund
11        Monthly  20%-30%            Mutual Fund
12         Weekly  20%-30%            Mutual Fund
13        Monthly  20%-30%            Mutual Fund
14        Monthly  20%-30%         Fixed Deposits
15        Monthly  20%-30%            Mutual Fund
16        Monthly  20%-30%         Fixed Deposits
17        Monthly  20%-30%            Mutual Fund
18        Monthly  20%-30%            Mutual Fund
19        Monthly  20%-30%         Fixed Deposits
20         Weekly  20%-30%            Mutual Fund
21        Monthly  20%-30%                 Equity
22        Monthly  20%-30%            Mutual Fund
23         Weekly  20%-30%  Public Provident Fund
24        Monthly  30%-40%  Public Provident Fund
25        Monthly  20%-30%            Mutual Fund
26        Monthly  20%-30%            Mutual Fund
27        Monthly  20%-30%         Fixed Deposits
28        Monthly  20%-30%                 Equity
29        Monthly  10%-20%            Mutual Fund
30        Monthly  10%-20%            Mutual Fund
31        Monthly  20%-30%         Fixed Deposits
32        Monthly  30%-40%                 Equity
33        Monthly  20%-30%         Fixed Deposits
34         Weekly  20%-30%            Mutual Fund
35        Monthly  20%-30%         Fixed Deposits
36        Monthly  20%-30%                 Equity
37        Monthly  30%-40%  Public Provident Fund
38         Weekly  20%-30%                 Equity
39        Monthly  20%-30%         Fixed Deposits

   What are your savings objectives?         Reason_Equity  \
0                    Retirement Plan  Capital Appreciation
1                        Health Care              Dividend
2                    Retirement Plan  Capital Appreciation
3                    Retirement Plan              Dividend
4                    Retirement Plan  Capital Appreciation
5                    Retirement Plan             Liquidity
6                    Retirement Plan  Capital Appreciation
7                    Retirement Plan  Capital Appreciation
8                    Retirement Plan  Capital Appreciation
9                    Retirement Plan  Capital Appreciation
10                   Retirement Plan  Capital Appreciation
11                   Retirement Plan  Capital Appreciation
12                         Education              Dividend
13                   Retirement Plan  Capital Appreciation
14                       Health Care              Dividend
15                       Health Care  Capital Appreciation
16                       Health Care  Capital Appreciation
17                   Retirement Plan  Capital Appreciation
18                   Retirement Plan  Capital Appreciation
19                       Health Care  Capital Appreciation
20                   Retirement Plan  Capital Appreciation
21                       Health Care  Capital Appreciation
22                   Retirement Plan  Capital Appreciation
23                       Health Care             Liquidity
24                   Retirement Plan  Capital Appreciation
25                   Retirement Plan  Capital Appreciation
26                   Retirement Plan              Dividend
27                       Health Care  Capital Appreciation
28                   Retirement Plan  Capital Appreciation
29                   Retirement Plan  Capital Appreciation
30                         Education  Capital Appreciation
31                   Retirement Plan  Capital Appreciation
32                       Health Care  Capital Appreciation
33                         Education              Dividend
34                       Health Care  Capital Appreciation
35                       Health Care  Capital Appreciation
36                   Retirement Plan  Capital Appreciation
37                       Health Care  Capital Appreciation
38                       Health Care              Dividend
39                   Retirement Plan              Dividend

           Reason_Mutual     Reason_Bonds            Reason_FD  \
0         Better Returns  Safe Investment        Fixed Returns
1         Better Returns  Safe Investment  High Interest Rates
2           Tax Benefits  Assured Returns        Fixed Returns
3   Fund Diversification   Tax Incentives  High Interest Rates
4         Better Returns  Safe Investment            Risk Free
5   Fund Diversification  Safe Investment            Risk Free
6         Better Returns  Assured Returns  High Interest Rates
7         Better Returns  Assured Returns            Risk Free
8   Fund Diversification  Safe Investment        Fixed Returns
9   Fund Diversification  Assured Returns        Fixed Returns
10        Better Returns  Assured Returns            Risk Free
11  Fund Diversification  Assured Returns        Fixed Returns
12        Better Returns  Safe Investment            Risk Free
13  Fund Diversification  Assured Returns            Risk Free
14        Better Returns  Assured Returns            Risk Free
15  Fund Diversification  Assured Returns            Risk Free
16  Fund Diversification  Assured Returns            Risk Free
17        Better Returns  Assured Returns            Risk Free
18        Better Returns  Assured Returns            Risk Free
19  Fund Diversification  Assured Returns            Risk Free
20        Better Returns  Assured Returns        Fixed Returns
21        Better Returns  Assured Returns            Risk Free
22        Better Returns  Assured Returns            Risk Free
23        Better Returns  Assured Returns            Risk Free
24        Better Returns  Assured Returns            Risk Free
25        Better Returns  Assured Returns        Fixed Returns
26  Fund Diversification  Assured Returns        Fixed Returns
27  Fund Diversification  Safe Investment        Fixed Returns
28        Better Returns  Assured Returns            Risk Free
29          Tax Benefits  Safe Investment        Fixed Returns
30          Tax Benefits  Safe Investment        Fixed Returns
31        Better Returns  Assured Returns        Fixed Returns
32  Fund Diversification  Assured Returns        Fixed Returns
33        Better Returns  Safe Investment            Risk Free
34        Better Returns  Safe Investment        Fixed Returns
35        Better Returns  Assured Returns        Fixed Returns
36        Better Returns  Assured Returns            Risk Free
37        Better Returns  Safe Investment        Fixed Returns
38  Fund Diversification  Assured Returns        Fixed Returns
39        Better Returns  Safe Investment        Fixed Returns

                      Source
0   Newspapers and Magazines
1      Financial Consultants
2                 Television
3                   Internet
4                   Internet
5                   Internet
6      Financial Consultants
7   Newspapers and Magazines
8                 Television
9   Newspapers and Magazines
10     Financial Consultants
11     Financial Consultants
12                  Internet
13  Newspapers and Magazines
14     Financial Consultants
15  Newspapers and Magazines
16                Television
17     Financial Consultants
18  Newspapers and Magazines
19  Newspapers and Magazines
20     Financial Consultants
21  Newspapers and Magazines
22     Financial Consultants
23     Financial Consultants
24  Newspapers and Magazines
25     Financial Consultants
26     Financial Consultants
27                Television
28                Television
29  Newspapers and Magazines
30                Television
31     Financial Consultants
32  Newspapers and Magazines
33  Newspapers and Magazines
34     Financial Consultants
35     Financial Consultants
36  Newspapers and Magazines
37     Financial Consultants
38  Newspapers and Magazines
39     Financial Consultants

[40 rows x 24 columns]

In [7]:
df = pd.read_excel(r'D:\QUIZ ALGORITMA\quiz 13\Financial Sample.xlsx')
print(df)

              Segment                   Country    Product Discount Band  \
0          Government                    Canada  Carretera           NaN
1          Government                   Germany  Carretera           NaN
2           Midmarket                    France  Carretera           NaN
3           Midmarket                   Germany  Carretera           NaN
4           Midmarket                    Mexico  Carretera           NaN
..                ...                       ...        ...           ...
695    Small Business                    France   Amarilla          High
696    Small Business                    Mexico   Amarilla          High
697        Government                    Mexico    Montana          High
698        Government                    Canada      Paseo          High
699  Channel Partners  United States of America        VTT          High

     Units Sold  Manufacturing Price  Sale Price  Gross Sales  Discounts  \
0        1618.5                    3          20      32370.0       0.00
1        1321.0                    3          20      26420.0       0.00
2        2178.0                    3          15      32670.0       0.00
3         888.0                    3          15      13320.0       0.00
4        2470.0                    3          15      37050.0       0.00
..          ...                  ...         ...          ...        ...
695      2475.0                  260         300     742500.0  111375.00
696       546.0                  260         300     163800.0   24570.00
697      1368.0                    5           7       9576.0    1436.40
698       723.0                   10           7       5061.0     759.15
699      1806.0                  250          12      21672.0    3250.80

         Sales      COGS    Profit       Date  Month Number Month Name  Year
0     32370.00   16185.0  16185.00 2014-01-01             1    January  2014
1     26420.00   13210.0  13210.00 2014-01-01             1    January  2014
2     32670.00   21780.0  10890.00 2014-06-01             6       June  2014
3     13320.00    8880.0   4440.00 2014-06-01             6       June  2014
4     37050.00   24700.0  12350.00 2014-06-01             6       June  2014
..         ...       ...       ...        ...           ...        ...   ...
695  631125.00  618750.0  12375.00 2014-03-01             3      March  2014
696  139230.00  136500.0   2730.00 2014-10-01            10    October  2014
697    8139.60    6840.0   1299.60 2014-02-01             2   February  2014
698    4301.85    3615.0    686.85 2014-04-01             4      April  2014
699   18421.20    5418.0  13003.20 2014-05-01             5        May  2014

[700 rows x 16 columns]

# import file (Lainnya)
(kpop)

#### .csv

In [8]:
df = pd.read_csv(r'D:\QUIZ ALGORITMA\quiz 13\kpop idols.csv')
print(df)

     Stage Name Stage Name Full Name Full Name Korean Name Korean Name  \
0                  Taeyeon         Kim Taeyeon                     김태연
1                    Sunny          Lee Sunkyu                     이순규
2                  Tiffany       Hwang Miyoung                     황미영
3                  Hyoyeon         Kim Hyoyeon                     김효연
4                     Yuri           Kwon Yuri                     권유리
...                    ...                 ...                     ...
1661                 Minji           Kim Minji                     김민지
1662                 Hanni       Pham Ngoc Han                    팜응옥헌
1663              Danielle            Mo Jihye                     모지혜
1664                Haerin         Kang Haerin                     강해린
1665                 Hyein           Lee Hyein                     이혜인

     K. Stage Name K. Stage Name Date of Birth Date of Birth Group Group  \
0                             태연                    3/9/1989        SNSD
1                             써니                   5/15/1989        SNSD
2                            티파니                    8/1/1989        SNSD
3                             효연                   9/22/1989        SNSD
4                             유리                   12/5/1989        SNSD
...                          ...                         ...         ...
1661                          민지                    5/7/2004    NewJeans
1662                          하니                   10/6/2004    NewJeans
1663                         다니엘                   4/11/2005    NewJeans
1664                          해린                   5/15/2006    NewJeans
1665                          혜인                   4/21/2008    NewJeans

     Country Country  Height Height  Weight Weight Birthplace Birthplace  \
0        South Korea            160             44                Jeonju
1        South Korea            158             43            California
2        South Korea            163             50         San Francisco
3        South Korea            158             48               Incheon
4        South Korea            167             45                Goyang
...              ...            ...            ...                   ...
1661     South Korea            169              0              Yeongwol
1662         Vietnam            162              0             Melbourne
1663     South Korea            165              0                Munsan
1664     South Korea            165              0              Gimcheon
1665     South Korea            170              0               Incheon

     Gender Gender Instagram Instagram
0                F          taeyeon_ss
1                F          svnnynight
2                F        xolovestephi
3                F         watasiwahyo
4                F             yulyulk
...            ...                 ...
1661             F                 NaN
1662             F                 NaN
1663             F                 NaN
1664             F                 NaN
1665             F                 NaN

[1666 rows x 12 columns]

#### .xlsx

In [9]:
df = pd.read_excel(r'D:\QUIZ ALGORITMA\quiz 13\kpop_girl_group_company_active.xlsx')
print(df)

            X:IN 2023-04-11 00:00:00          Escrow        Yes
0       PRIMROSE          2023-03-13              AO        Yes
1      LIMELIGHT          2023-02-17             143        Yes
2        tripleS          2023-02-13         MODHAUS        Yes
3    FIFTY FIFTY          2022-11-18         ATTRAKT        Yes
4        ARTBEAT          2022-11-16     AB Creative        Yes
..           ...                 ...             ...        ...
210      Jewelry          2001-03-30     Star Empire         No
211        S.E.S          1997-11-01              SM         No
212   Baby V.O.X          1997-07-05        DR Music         No
213         ADYA                 NaT  Starting House        Yes
214  BABYMONSTER                 NaT              YG  Pre-Debut

[215 rows x 4 columns]